:root {
    --primary-color: #212227;
    --accent-color: #21c1c2;
    --head-color: #F8F8FF;
    --text-color: #f5f5dc;
    --primary-font: "Bebas Neue", sans-serif;
    --text-font: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--primary-color);
    color: var(--text-color);
}

.navbar{
    display: flex;
    /* width: 100vw; */
    height: 6em;
    justify-content: space-evenly;
    align-items: center;
    font-family: var(--primary-font);
    
}

.nav-logo{
    color: white;
    font-size: 1.5em;
}

.nav-logo span{
    color: var(--accent-color);
}

.nav-links{
    width: 50vw;
    display: flex;
    justify-content: space-between;
}

.nav-links a{
    font-size: 1.25em;
    text-decoration: none;
    color: var(--head-color);
}

.hero-section{
    height: calc(100vh - 6em);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-section h1{
    font-family: var(--primary-font);
    font-size: 6em;
}

.bg-blue{
    background-color: var(--accent-color);
    padding: 0 0.3em;
    margin-right: 0.2em;
}

.txt-blue{
    color: var(--accent-color);
}

.cta button{
    padding: 1em 1.5em;
}