:root{
    --background-color: #0a0a0a;
    --accent-color: #0080ff;
    --text-color: #e0e0e0;
    --head-font: "Oswald", sans-serif;
    --body-font: "Roboto Condensed", sans-serif;
}

body{
    background-color: var(--background-color);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blue{
    color: var(--accent-color);
}

.navbar{
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translate(-50%);
    right: auto;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    width: 60vw;
    background: none;
    border: 2px solid white;
    border-radius: 5rem;
    color: var(--text-color);
    font-family: var(--head-font);
    padding: 0 1rem 0 4rem;
}

.leftNav h1{
    text-align: center;
}

.centerNav{
    flex: 1;
    display: flex;
}

.navItems{
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    position: relative;
}

.navItems li{
    list-style-type: none;
    position: relative;
}

#contact{
    height: 3rem;
    border-radius: 25px;
    background-color: var(--accent-color);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    font-family: var(--head-font);
    font-size: 1em;
    font-weight: 200;
    color: var(--text-color);
}

#contact i{
    padding-left: 10px;
    font-size: 1.75em;
}

/* Hero Section */

.hero{
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-family: var(--head-font);
    text-align: center;
}

.heroHead{
    font-size: 3.5rem;
}

.heroSub h3{
    font-size: 1.75rem;
    margin-bottom: 0.75rem;
    background-color: var(--accent-color);
    padding: 0.75rem 0;
}

.heroSub p{
    font-family: var(--body-font);
    opacity: 0.5;
}

/* About Section */

.about{
    height: 50vh;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    padding: 0 10vw;
    font-family: var(--body-font);
}

.aboutHead{
    font-family: var(--head-font);
}

.aboutHead h1{
    font-size: 4em;
    margin-bottom: 0.15em;
}

.aboutSub p{
    font-size: 1em;
}

.aboutInfo{
    display: flex;
    margin: 2em 0;
}

.aboutCard{
    margin-right: 5em;
}

.aboutCard h1{
    font-size: 4em;
}

.aboutCard p{
    font-size: 1em;
}

.aboutSocial i{
    font-size: 1.5em;
    margin-right: 0.25em;
}