*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

body{
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.inputContent{
    display: none
}

.outer{
    background-color: white;
    z-index: 0;
    height: 40vh;
    width: 40vw;
    padding: 3em;
    border-radius: 30px;
}

.outer h1{
    font-size: 3em;
    padding-bottom: 0.75em;
    text-align: center;
}

#content{
    display: flex;
    justify-content: center;
    gap: 1%;
}

input{
    padding: 0.25em 0.5em;
}

button{
    padding: 0.25em 0.5em;
}

.resultContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.blackLine{
    height: 5px;
    width: 75%;
    border-radius: 30px;
    background-color: black;
}