*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

body{
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.outer{
    background-color: white;
    z-index: 0;
    height: 40vh;
    width: 40vw;
    padding: 3em;
    border-radius: 30px;
}

.outer h1{
    font-size: 3em;
    padding-bottom: 0.75em;
    text-align: center;
}

.inputContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content{
    display: flex;
    justify-content: center;
    gap: 1%;
}

input{
    padding: 0.25em 0.5em;
}

button{
    padding: 0.25em 0.5em;
}

.resultContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.del{
    text-align: center;
}

.deliveryWithCOD{
    display: none;
}

.deliveryWithoutCOD{
    display: none;
}

.noDelivery{
    display: none;
}

.error{
    display: none;
}

.icon i{
    font-size: 4.5em;
    margin-bottom: 15px;
    animation: successIcon 0.5s ease-in;
}

.txt h2{
    opacity: 0;
    animation: fadeUp 0.5s ease-out forwards;
    animation-delay: 0.5s;
    transform: translateY(20px);
}

.checkAgain{
    position: relative;
    bottom: -20px;
}

@keyframes fadeUp {
    from{
        opacity: 0;
        transform: translateY(20px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes successIcon {
    from{
        font-size: 8em;
        color: white;
    }
    to{
        font-size: 4.5em;
        color: black;
    }
}