* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(90deg, hsla(191, 75%, 60%, 1) 0%, hsla(248, 87%, 36%, 1) 100%);
    backdrop-filter: blur(3px);

}

.intro{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro h1{
    font-size: 4em;
    color: #e8f6ff;
}

.intro p{
    font-size: 1.15em;
    margin-bottom: 1em;
    color: #e8f6ff;
}

#checkPassword {
    padding: 14px 32px;
    font-size: 1.1em;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    color: #e8f6ff;
    letter-spacing: .5px;
    transition: .2s ease-in-out;
    border: 1px solid rgba(255,255,255,0.3);
}

#checkPassword:hover {
    background: rgba(255, 255, 255, 0.28);
    transform: translateY(-3px);
    box-shadow: 0 12px 28px rgba(0,0,0,0.25);
}
